Thomas’[[:space:]]Calculus꞉[[:space:]]Early[[:space:]]Transcendentals,[[:space:]]15ᵗʰ[[:space:]]Edition[[:space:]](2022)[[:space:]]-[[:space:]]Joel[[:space:]]R.[[:space:]]Hass,[[:space:]]Christopher[[:space:]]E,[[:space:]]Przemyslaw[[:space:]]Bogacki[[:space:]]-[[:space:]]Pearson.pdf filter=lfs diff=lfs merge=lfs -text
Calculus[[:space:]](MA1000)/References/Thomas’[[:space:]]Calculus꞉[[:space:]]Early[[:space:]]Transcendentals,[[:space:]]15ᵗʰ[[:space:]]Edition[[:space:]](2022)[[:space:]]-[[:space:]]Pearson.pdf filter=lfs diff=lfs merge=lfs -text
Calculus[[:space:]](MA1000)/References/Tom[[:space:]]M.[[:space:]]Apostol[[:space:]]-[[:space:]]Calculus,[[:space:]]Volume[[:space:]]I_[[:space:]]One-Variable[[:space:]]Calculus,[[:space:]]with[[:space:]]an[[:space:]]Intro[[:space:]]to[[:space:]]Linear[[:space:]]Algebra.[[:space:]]Vol.[[:space:]]1-John[[:space:]]Wiley.pdf filter=lfs diff=lfs merge=lfs -text
Electrical[[:space:]]Circuits[[:space:]](EC1000)/References/John[[:space:]]Hiley,[[:space:]]Keith[[:space:]]Brown,[[:space:]]Ian[[:space:]]McKenzie[[:space:]]Smith[[:space:]]-[[:space:]]Hughes[[:space:]]Electrical[[:space:]]&[[:space:]]Electronic[[:space:]]Technology,[[:space:]]10th[[:space:]]Edition[[:space:]](2008).pdf filter=lfs diff=lfs merge=lfs -text
Electrical[[:space:]]Circuits[[:space:]](EC1000)/References/Charles,[[:space:]]Matthew[[:space:]]-[[:space:]]Fundamentals[[:space:]]of[[:space:]]Electric[[:space:]]Circuits-Solutions-McGraw[[:space:]]Hill[[:space:]](2013).pdf filter=lfs diff=lfs merge=lfs -text
Electrical[[:space:]]Circuits[[:space:]](EC1000)/References/Charles,[[:space:]]Matthew[[:space:]]-[[:space:]]Fundamentals[[:space:]]of[[:space:]]Electric[[:space:]]Circuits[[:space:]]-[[:space:]]McGraw-Hill[[:space:]]Science_Engineering_Math[[:space:]](2012).pdf filter=lfs diff=lfs merge=lfs -text
